<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.risingtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RisingTest">
        <activity
            android:name=".src.main.search.SubSearchActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.recently.RecentlyActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.franchises.FranchisesActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.delivery.DeliveryActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.payment.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.cart.CartActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.restaurant.RestaurantActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.myeats.activities.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".src.main.favorites.FavoritesActivity"
            android:exported="true" />
        <activity android:name=".src.main.login.LoginActivity" />
        <activity android:name=".src.main.signup.SignUpActivity" />
        <activity
            android:name=".src.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".src.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>